/build

/*.apk
/ant.properties
/local.properties

*.iml
/.idea
/.gradle

.DS_Store
/*.mapping.txt

/*/.gitignore
/*-*/
/*.gradle
/*/*.gradle
/*/build

/README.md
/DEVELOP.md
/brevent-server.txt

/donation/src/main/AndroidManifest.xml
/donation/src/main/aidl
/donation/src/main/java
/donation/src/main/res/layout*

/brevent/proguard-rules.pro
/brevent/fabric.properties
/brevent/src/main/AndroidManifest.xml
/brevent/src/main/java
/brevent/src/main/jni
/brevent/src/main/libs
/brevent/src/main/obj
/brevent/src/main/res/.gitignore
/brevent/src/main/res/xml*
/brevent/src/main/res/drawable*
/brevent/src/main/res/mipmap*
/brevent/src/main/res/raw*
/brevent/src/main/res/menu*
/brevent/src/main/res/layout*
/brevent/src/main/res/values*/op.xml
/brevent/src/main/res/values*/op_cm.xml

/brevent/src/main/res/values/dimens.xml
/brevent/src/main/res/values/ic_*revent_background.xml
/brevent/src/main/res/values*/*donottranslate.xml

