<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.piebridge.brevent"
    android:installLocation="internalOnly">

    <permission
        android:name="me.piebridge.brevent.permission.MANAGER"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="23" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="me.piebridge.brevent.permission.MANAGER" />

    <application
        android:name=".ui.BreventApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".ui.BreventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BreventSettings"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/menu_settings"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.BreventGuide"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/menu_guide"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.BreventLicenses"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <receiver
            android:name=".ui.BreventReceiver"
            android:directBootAware="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.BreventServerReceiver"
            android:permission="android.permission.DEVICE_POWER">
            <intent-filter>
                <action android:name="me.piebridge.brevent.intent.action.HOME_TID" />
            </intent-filter>
        </receiver>

        <service android:name=".ui.BreventIntentService" />
    </application>

</manifest>
