<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.piebridge.brevent.priv">

    <uses-permission android:name="me.piebridge.brevent.permission.MANAGER" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- signature|privileged -->
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
                     tools:ignore="ProtectedPermissions"/>
    <!-- signature|privileged|development -->
    <uses-permission android:name="android.permission.DUMP"
                     tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <!-- signature|privileged|installer -->
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <!-- signature -->
    <!--
    <uses-permission android:name="android.permission.CHANGE_APP_IDLE_STATE" />
    -->

    <application
        android:allowBackup="false"
        android:label="PrivBrevent"
        android:persistent="true">

        <receiver android:name=".BreventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BreventService"
            android:exported="false"
            android:process="me.piebridge.brevent.priv.persistent" />

    </application>

</manifest>
